<section class="about" id="about">
  <div class="container">
    <div class="title-block">
      <h2 class="title-text">ABOUT THE GAME</h2>
    </div>
    <div class="about-wrapper">
      <div class="about-img-side">
        <picture>
          <source
            media="(min-width: 1190px)"
            srcset="
              ./img/about/about-desktop_1x.png 1x,
              ./img/about/about-desktop_2x.png 2x
            "
            sizes="(min-width: 1200px) 554px, 100vw"
          />
          <source
            media="(max-width: 1168px)"
            srcset="./img/about/mobile_1x.png 1x, ./img/about/mobile_2x.png 2x"
          />
          <img
            class="about-image"
            src="./img/about/about-desktop_1x.png"
            alt="Game Tail Quest"
          />
        </picture>
      </div>

      <div class="about-descr-side">
        <p class="about-text">
          Enter an era of war, betrayal, and resilience in<span
            class="text-accent"
            >Dynasty: Fallen & Rise,</span
          >
          a tactical strategy RPG where your choices shape the fate of an
          empire. Play as an exiled heir fighting to reclaim the throne of your
          fallen kingdom. Build alliances, master battlefield tactics, and
          command legendary heroes in your quest to unite the land once more.
        </p>
        <h4 class="about-subtitel">
          Craft your legacy in a world where every sword stroke echoes through
          history.
        </h4>
        <ul class="about-list">
          <li class="about-item">
            <img
              src="./img/about/about_1x-1.png"
              alt=""
              width="32"
              height="32"
            />
            <p>Rebuild your dynasty from ruin.</p>
          </li>
          <li class="about-item">
            <img
              src="./img/about/about_1x-2.png"
              alt=""
              width="32"
              height="32"
            />
            <p>Command armies in real-time battles</p>
          </li>
          <li class="about-item">
            <img
              src="./img/about/about_1x-3.png"
              alt=""
              width="32"
              height="32"
            />
            <p>Outsmart rivals in political intrigue and strategy</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
