<section id="atmosphere">
  <div class="container">
    <div class="section-title-container">
      <h2 class="title-text atmosphere-title">Game atmosphere</h2>
    </div>
    <div class="atmosphere-wrapper">
      <div class="atmosphere__content">
        <p>
          Experience a world steeped in legend, where shifting alliances and
          ancient secrets determine the future of your people.
        </p>
        <p>
          From the
          <span class="atmosphere-text__bold">smoke-covered battlefields</span>
          of the West to the mystic temples of the East, Dynasty: Fallen & Rise
          immerses you in a cinematic journey filled with honor, sacrifice, and
          triumph.
        </p>
        <p>
          With a powerful orchestral score and vivid animations, every chapter
          of your legacy comes alive.
        </p>
      </div>

      <picture>
        <source
          media="(min-width: 1190px)"
          srcset="
            ./img/atmosphere/desktop/Vector_1x.png 1x,
            ./img/atmosphere/desktop/Vector_2x.png 2x
          "
          sizes="(min-width: 1200px) 554px, 100vw"
        />
        <source
          media="(max-width: 1168px)"
          srcset="
            ./img/atmosphere/mobile/Vector_1x.png 1x,
            ./img/atmosphere/mobile/Vector_2x.png 2x
          "
        />
        <img
          class="atmosphere_img"
          src="./img/atmosphere/mobile/Vector_1x.png"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
