<section>
  <div class="conteiner download-wrapper">
    <div class="download__content">
      <h3 class="download__title">Begin Your Legend Now!</h2>
      <div class="content-small"><h4 class="download__title--mini">Download Dynasty</h4>
        <p class="download__text">Fallen & Rise and Forge Your Path to Glory!</p></div>
      <button class="download_btn">
        <span class="play-icon-wrapper">
          <svg class="play-icon" width="22" height="28">
            <use href="../img/sprite.svg#icon-google-play"></use>
          </svg>
        </span>
        Download on Google Play
      </button>
    </div>
    <img class="download_img" src="./img/download-section/Vector.png" alt="" />
  </div>
</section>
