<section>
  <div class="container">
    <div class="download-wrapper">
      <div class="download__content">
        <h3 class="download__title">Begin Your Legend Now!</h3>

        <div class="content-small">
          <h4 class="download__title--mini">Download Dynasty</h4>
          <p class="download__text">
            Fallen & Rise and Forge Your Path to Glory!
          </p>
        </div>

        <a
          class="download_btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.ftohyufot.and&hl=en&gl=us&pli=1"
        >
          <span class="gog-wrap">
            <svg class="" width="30" height="30">
              <use href="./img/sprite.svg#icon-google_play_icon-1"></use>
            </svg>
          </span>
          Download on Google Play
        </a>
      </div>
      <picture>
        <source
          media="(min-width: 1190px)"
          srcset="
            ./img/download-section/desktop/Vector_1x.png 1x,
            ./img/download-section/desktop/Vector_2x.png 2x
          "
          sizes="(min-width: 1200px) 554px, 100vw"
        />
        <source
          media="(max-width: 1168px)"
          srcset="
            ./img/download-section/mobile/Vector_1x.png 1x,
            ./img/download-section/mobile/Vector_2x.png 2x
          "
        />
        <img
          class="download_img"
          src="./img/download-section/mobile/Vector_1x.png"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
