<section id="faq" data-section="faq">
  <div class="container">
    <div class="section-title">
      <h2 class="title-text">faq</h2>
    </div>
    <div data-ac="acar" class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            <div class="circle"></div>
            Is Dynasty: Fallen & Rise free to play?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! You can play for free, with optional in-app purchases for
            cosmetics and boosts.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Can I play offline?</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Core story content is available offline, though multiplayer modes
            require an internet connection.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Are there different endings?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! Player choices during campaigns influence the fate of
            characters and kingdoms.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Is there a multiplayer mode?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! Participate in real-time PvP battles and join alliances to
            fight in kingdom-scale wars.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Will new heroes be added?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Absolutely. New content, heroes, and campaigns are regularly
            introduced via updates.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
