<footer class="footer">
  <div class="container">
    <div class="footer__buttons">
      <a href="./privacy.html" class="footer__btn">Privacy Policy</a>
      <div class="footer-sticks"></div>
      <a href="./terms.html" class="footer__btn">Terms & Conditions</a>
      <div class="footer-sticks"></div>
      <a href="./cookies.html" class="footer__btn">Cookies Policy</a>
    </div>
    <p class="footer-rights">
      &#169; 2025 glowdynastysaga.com – All rights reserved
    </p>
  </div>
</footer>
