<section class="features" id="feature">
  <div class="container">
    <div class="section-title">
      <h2 class="title-text">Game Features</h2>
    </div>
    <div class="features-wrapper">
      <div class="features-swiper">
        <ul class="preview-list">
          <li class="side-slide" data-index="0">
            <picture>
              <source
                media="(min-width: 1168px)"
                srcset="
                  ./img/features/left-slide-desk/Rectangle_1@1x.jpg 1x,
                  ./img/features/left-slide-desk/Rectangle_1@2x.jpg 2x
                "
                sizes="(min-width: 1200px) 554px, 100vw"
              />
              <img
                class="about-image"
                src="./img/features/left-slide-desk/Rectangle_1@1x.jpg"
                alt="PvP & PvE Modes"
                width="363"
                height="770"
                ;
              />
            </picture>
          </li>

          <li class="side-slide" data-index="6">
            <picture>
              <source
                media="(min-width: 1168px)"
                srcset="
                  ./img/features/left-slide-desk/Rectangle_7@1x.jpg 1x,
                  ./img/features/left-slide-desk/Rectangle_7@2x.jpg 2x
                "
                sizes="(min-width: 1200px) 554px, 100vw"
              />
              <img
                class="about-image"
                src="./img/features/left-slide-desk/Rectangle_7@1x.jpg"
                alt="PvP & PvE Modes"
                width="363"
                height="770"
                ;
              />
            </picture>
          </li>

          <li class="side-slide" data-index="5">
            <picture>
              <source
                media="(min-width: 1168px)"
                srcset="
                  ./img/features/left-slide-desk/Rectangle_6@1x.jpg 1x,
                  ./img/features/left-slide-desk/Rectangle_6@2x.jpg 2x
                "
              />
              <img
                class="about-image"
                src="./img/features/left-slide-desk/Rectangle_6@1x.jpg"
                alt="Stunning Visuals"
                width="363"
                height="770"
              />
            </picture>
          </li>
          <li class="side-slide" data-index="4">
            <picture>
              <source
                media="(min-width: 1168px)"
                srcset="
                  ./img/features/left-slide-desk/Rectangle_5@1x.jpg 1x,
                  ./img/features/left-slide-desk/Rectangle_5@2x.jpg 2x
                "
              />
              <img
                class="about-image"
                src="./img/features/left-slide-desk/Rectangle_5@1x.jpg"
                alt="Dynasty Management"
                width="363"
                height="770"
              />
            </picture>
          </li>
          <li class="side-slide" data-index="3">
            <picture>
              <source
                media="(min-width: 1168px)"
                srcset="
                  ./img/features/left-slide-desk/Rectangle_4@1x.jpg 1x,
                  ./img/features/left-slide-desk/Rectangle_4@2x.jpg 2x
                "
              />
              <img
                class="about-image"
                src="./img/features/left-slide-desk/Rectangle_4@1x.jpg"
                alt="Interactive Storytelling"
                width="363"
                height="770"
              />
            </picture>
          </li>
          <li class="side-slide" data-index="2">
            <picture>
              <source
                media="(min-width: 1168px)"
                srcset="
                  ./img/features/left-slide-desk/Rectangle_3@1x.jpg 1x,
                  ./img/features/left-slide-desk/Rectangle_3@2x.jpg 2x
                "
              />
              <img
                class="about-image"
                src="./img/features/left-slide-desk/Rectangle_3@1x.jpg"
                alt="Hero System"
                width="363"
                height="770"
              />
            </picture>
          </li>
          <li class="side-slide" data-index="1">
            <picture>
              <source
                media="(min-width: 1168px)"
                srcset="
                  ../img/features/left-slide-desk/Rectangle_2@1x.jpg 1x,
                  ./img/features/left-slide-desk/Rectangle_2@2x.jpg  2x
                "
              />
              <img
                class="about-image"
                src="./img/features/left-slide-desk/Rectangle_2@1x.jpg"
                alt="Hero System"
                width="363"
                height="770"
              />
            </picture>
          </li>
        </ul>
      </div>

      <div class="swiper features-swiper-main" data-swiper-main>
        <ul class="swiper-wrapper main-features-swiper" data-swiper-wrapper>
          <li class="swiper-slide main-slide" data-swiper-slide>
            <div class="slide-content">
              <picture>
                <source
                  media="(max-width: 1189px)"
                  srcset="./img/features/mob/Features-mob_1_@1x.png 1x"
                />
                <source
                  media="(min-width: 1190px)"
                  srcset="
                    ./img/features/Features-desck_1_@1x.png    1x,
                    ./img/features/2X/Features-desck_1_@2x.png 2x
                  "
                />
                <img
                  class="main-slide-img"
                  src="./img/features/Features-desck_1_@1x.png"
                  alt="Deep Strategic Combat"
                  width="554"
                  height="866"
                />
              </picture>

              <div class="features-overlay">
                <h3>Deep Strategic Combat</h3>
                <p>
                  Tactical battles that challenge your mind and military
                  precision.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide main-slide">
            <div class="slide-content">
              <picture>
                <source
                  media="(max-width: 1189px)"
                  srcset="./img/features/mob/Features-mob_2_@1.png 1x"
                />
                <source
                  media="(min-width: 1190px)"
                  srcset="
                    ./img/features/Features-desck_2_@1x.png    1x,
                    ./img/features/2X/Features-desck_2_@2x.png 2x
                  "
                />
                <img
                  class="main-slide-img"
                  src="./img/features/Features-desck_2_@1x.png"
                  alt="Massive Campaign Map"
                  width="554"
                  height="866"
                />
              </picture>

              <div class="features-overlay">
                <h3>Massive Campaign Map</h3>
                <p>Explore kingdoms, mountains, deserts, and lost temples</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide main-slide">
            <div class="slide-content">
              <picture>
                <source
                  media="(max-width: 1189px)"
                  srcset="./img/features/Features-desck_3_@1x.png 1x"
                />
                <source
                  media="(min-width: 1190px)"
                  srcset="
                    ./img/features/Features-desck_3_@1x.png    1x,
                    ./img/features/2X/Features-desck_3_@2x.png 2x
                  "
                />
                <img
                  class="main-slide-img"
                  src="./img/features/Features-desck_3_@1x.png"
                  alt="Hero System"
                  width="554"
                  height="866"
                />
              </picture>

              <div class="features-overlay">
                <h3>Hero System</h3>
                <p>Explore kingdoms, mountains, deserts, and lost temples</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide main-slide">
            <div class="slide-content">
              <picture>
                <source
                  media="(max-width: 1189px)"
                  srcset="../img/features/mob/Features-mob_4_@1.png 1x"
                />
                <source
                  media="(min-width: 1168px)"
                  srcset="
                    ./img/features/Features-desck_4_@1x.png    1x,
                    ./img/features/2X/Features-desck_4_@2x.png 2x
                  "
                />
                <img
                  class="main-slide-img"
                  src="./img/features/Features-desck_4_@1x.png"
                  alt="Interactive Storytelling"
                  width="554"
                  height="866"
                />
              </picture>

              <div class="features-overlay">
                <h3>Interactive Storytelling</h3>
                <p>
                  Choices affect relationships, war outcomes, and future events
                </p>
              </div>
            </div>
          </li>

          <li class="swiper-slide main-slide">
            <div class="slide-content">
              <picture>
                <source
                  media="(max-width: 1189px)"
                  srcset="./img/features/mob/Features-mob_5_@1.png 1x"
                />
                <source
                  media="(min-width: 1190px)"
                  srcset="
                    ./img/features/Features-desck_5_@1x.png    1x,
                    ./img/features/2X/Features-desck_5_@2x.png 2x
                  "
                />
                <img
                  class="main-slide-img"
                  src="./img/features/Features-desck_5_@1x.png"
                  alt="Dynasty Management"
                  width="554"
                  height="866"
                />
              </picture>

              <div class="features-overlay">
                <h3>Dynasty Management</h3>
                <p>
                  Manage resources, diplomacy, armies, and political stability
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide main-slide">
            <div class="slide-content">
              <picture>
                <source
                  media="(max-width: 1189px)"
                  srcset="../img/features/mob/Features-mob_6_@1.png 1x"
                />
                <source
                  media="(min-width: 1168px)"
                  srcset="
                    ./img/features/Features-desck_6_@1x.png    1x,
                    ./img/features/2X/Features-desck_6_@2x.png 2x
                  "
                />
                <img
                  class="main-slide-img"
                  src="./img/features/Features-desck_6_@1x.png"
                  alt="Dynasty Management"
                  width="554"
                  height="866"
                />
              </picture>

              <div class="features-overlay">
                <h3>Stunning Visuals</h3>
                <p>
                  Breathtaking animations, hand-drawn portraits, and dynamic
                  environments
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide main-slide">
            <div class="slide-content">
              <picture>
                <source
                  media="(max-width: 1189px)"
                  srcset="./img/features/mob/Features-mob_7_@1.png 1x"
                />
                <source
                  media="(min-width: 1168px)"
                  srcset="
                    ./img/features/Features-desck_7_@1x.png    1x,
                    ./img/features/2X/Features-desck_7_@2x.png 2x
                  "
                />
                <img
                  class="main-slide-img"
                  src="./img/features/Features-desck_7_@1x.png"
                  alt="Dynasty Management"
                  width="554"
                  height="866"
                />
              </picture>

              <div class="features-overlay">
                <h3>PvP & PvE Modes</h3>
                <p>
                  Compete globally or conquer through immersive solo campaigns
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
