<header class="header" data-header-scroll data-scrolled="false">
  <div class="container">
    <div class="header-wrapp">
      <a href="./index.html" class="logo-head">
        <picture>
          <source
            srcset="
              ./img/logo_descktop_1x.png 1x,
              ./img/logo_descktop_2x.png 2x
            "
          />
          <img
            src="./img/logo_descktop_1x.png"
            width="40"
            height="40"
            alt="Game Logo"
          />
        </picture>
      </a>
      <button
        class="burger-menu-button"
        type="button"
        data-type="mobile-menu-openBtn"
        data-action="open"
        aria-label="Open mobile menu"
      >
        <svg
          class="burger-menu-button-icon"
          fill="#feffe8"
          width="24"
          height="20"
        >
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <nav class="header-nav">
        <ul class="nav-list">
          <li><a class="header-nav-link" href="index.html"> Home</a></li>
          <li>
            <a class="header-nav-link" href="#about"> About the game</a>
          </li>
          <li>
            <a class="header-nav-link" href="#how_to_play"> How to Play</a>
          </li>
          <li>
            <a class="header-nav-link" href="#feature"> Game Features</a>
          </li>
          <li>
            <a class="header-nav-link" href="#main-characters"> Heroes</a>
          </li>
          <li><a class="header-nav-link" href="#reviews"> Reviews</a></li>
          <li><a class="header-nav-link" href="#faq"> FAQ</a></li>
          <li><a class="header-nav-link" href=""> Conditions</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
