<section class="hero-section" data-hero-section id="hero">
  <div class="hero-wrapp container">
    <h1 class="main_titel">
      Fairy Legends: Tail Quest – Unravel the Magic, Rewrite the Tale!
    </h1>
    <p class="hero_text">
      Enter a world of ancient myths, magical creatures, and enchanted battles!
    </p>
    <button class="hero_download_btn">
      <span class="play-icon-wrapper">
        <svg class="play-icon-btn" width="30" height="30">
          <use href="./img/sprite.svg#icon-google_play_icon-1"></use>
        </svg>
      </span>
      Download on Google Play
    </button>
  </div>
</section>
