<section class="how_play" id="how_to_play">
  <div class="container">
    <div class="section-title">
      <h2 class="play-title-text">How to play</h2>
    </div>
    <ol class="play-list">
      <li class="play-list-item">
        <div class="play-item-container">
          <div class="play-number">1</div>
          <img
            class="play-icon"
            src="./img/how_play/icon-playing_1.png"
            alt="icon-choose"
          />
          <h4 class="play-subtitel">Choose Your Faction</h4>
        </div>
        <p class="play-desc">
          Each dynasty comes with unique strengths, histories, and heroes.
        </p>
      </li>

      <li class="play-list-item">
        <div class="play-item-container">
          <div class="play-number">2</div>
          <img
            class="play-icon"
            src="./img/how_play/icon-playing_2.png"
            alt="legendary-heroes"
          />
          <h4 class="play-subtitel">Recruit Legendary Heroes</h4>
        </div>
        <p class="play-desc">
          Assemble a diverse warband of generals, assassins, and sages.
        </p>
      </li>

      <li class="play-list-item">
        <div class="play-item-container">
          <div class="play-number">3</div>
          <img
            class="play-icon"
            src="./img/how_play/icon-playing_3.png"
            alt="icon-build"
          />
          <h4 class="play-subtitel">Build & Expand</h4>
        </div>
        <p class="play-desc">
          Restore your city, train your army, and expand across war-torn lands.
        </p>
      </li>

      <li class="play-list-item">
        <div class="play-item-container">
          <div class="play-number">4</div>
          <img
            class="play-icon"
            src="./img/how_play/icon-playing_4.png"
            alt="icon-conquer"
          />
          <h4 class="play-subtitel">Conquer Territories</h4>
        </div>
        <p class="play-desc">
          Engage in tactical, turn-based combat and siege enemy strongholds.
        </p>
      </li>

      <li class="play-list-item">
        <div class="play-item-container">
          <div class="play-number">5</div>
          <img
            class="play-icon"
            src="./img/how_play/icon-playing_5.png"
            alt="icon-alliances"
          />
          <h4 class="play-subtitel">Form Alliances</h4>
        </div>
        <p class="play-desc">
          Team up with other players or betray them for power.
        </p>
      </li>

      <li class="play-list-item">
        <div class="play-item-container">
          <div class="play-number">6</div>
          <img
            class="play-icon"
            src="./img/how_play/icon-playing_6.png"
            alt="icon-legacy"
          />
          <h4 class="play-subtitel">Shape Your Legacy</h4>
        </div>
        <p class="play-desc">
          Every decision impacts your dynasty’s rise… or fall.
        </p>
      </li>
    </ol>
  </div>
</section>
