<section id="main-characters">
  <div class="container">
    <h2 class="maincharacters">Main Characters</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="card">
          <p class="card-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            iusto voluptatibus delectus officiis, officia atque voluptatum in
            nisi laboriosam maxime.
          </p>
        </div>
        <div class="card">
          <p class="card-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            iusto voluptatibus delectus officiis, officia atque voluptatum in
            nisi laboriosam maxime.
          </p>
        </div>
        <div class="card">
          <p class="card-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            iusto voluptatibus delectus officiis, officia atque voluptatum in
            nisi laboriosam maxime.
          </p>
        </div>
        <div class="card">
          <p class="card-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            iusto voluptatibus delectus officiis, officia atque voluptatum in
            nisi laboriosam maxime.
          </p>
        </div>
        <div class="card">
          <p class="card-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            iusto voluptatibus delectus officiis, officia atque voluptatum in
            nisi laboriosam maxime.
          </p>
        </div>
      </div>
      <div class="whereSwiper">
        <button class="previous-slide">--</button>
        <div class="whereSwiper-lines"></div>
        <button class="next-slide">--</button>
      </div>
    </div>
  </div>
</section>
