<section id="main-characters">
  <div class="container main-characters_container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture class="card">
            <source
              media="(max-width: 1200px)"
              srcset="./img/main-characters/desktop/slide.png"
            />
            <img
              class="card"
              src="./img/main-characters/mobile/slide.png"
              alt="Character card"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="card">
            <source
              media="(max-width: 1200px)"
              srcset="./img/main-characters/desktop/slide-1.png"
            />
            <img
              class="card"
              src="./img/main-characters/mobile/slide-1.png"
              alt="Character card"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="card">
            <source
              media="(max-width: 1200px)"
              srcset="./img/main-characters/desktop/slide-2.png"
            />
            <img
              class="card"
              src="./img/main-characters/mobile/slide-2.png"
              alt="Character card"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="card">
            <source
              media="(max-width: 1200px)"
              srcset="./img/main-characters/desktop/slide-3.png"
            />
            <img
              class="card"
              src="./img/main-characters/mobile/slide-3.png"
              alt="Character card"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="card">
            <source
              media="(max-width: 1200px)"
              srcset="./img/main-characters/desktop/slide-4.png"
            />
            <img
              class="card"
              src="./img/main-characters/mobile/slide-4.png"
              alt="Character card"
            />
          </picture>
        </div>
      </div>
      <div class="buttons-wrapper">
        <div class="swiper-button-prev">
          <svg width="12" height="23">
            <use href="../img/sprite.svg#icon-arrow_left"></use>
          </svg>
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-next">
          <svg width="12" height="23">
            <use href="../img/sprite.svg#icon-arrow_right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
