<div class="mobile_menu" data-action="isClose" data-type="mobile-menu-overlay">
  <div class="modal-header">
    <a href="./index.html" class="logo-head">
      <picture>
        <source
          srcset="./img/logo_descktop_ 1x.png 1x, 
              ./img/logo_descktop_ 2x.png 2x"
        />
        <img
          src="./img/logo_descktop_ 1x.png"
          width="40"
          height="40"
          alt="Game Logo"
        />
      </picture>
    </a>
    <button
      type="button"
      class="close-menu"
      data-action="close"
      data-type="mobile-menu-closeBtn"
      aria-label="Close menu"
    >
      <svg class="close-icon" width="30" height="30">
        <use href="../img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-nav">
    <li>
      <a class="mobile-nav-link" href="index.html" data-visibility="true">
        Home</a
      >
    </li>
    <li>
      <a class="mobile-nav-link" href="#about" data-visibility="false">
        About the game</a
      >
    </li>
    <li>
      <a class="mobile-nav-link" href="#how_play" data-visibility="false">
        How to Play</a
      >
    </li>
    <li>
      <a class="mobile-nav-link" href="#feature" data-visibility="false">
        Game Features</a
      >
    </li>
    <li>
      <a class="mobile-nav-link" href="" data-visibility="false"> Heroes</a>
    </li>
    <li>
      <a class="mobile-nav-link" href="" data-visibility="false"> Reviews</a>
    </li>
    <li><a class="mobile-nav-link" href="" data-visibility="false"> FAQ</a></li>
    <li>
      <a class="mobile-nav-link" href="" data-visibility="false"> Conditions</a>
    </li>
  </ul>
</div>
