<section id="reviews">
  <div class="container">
    <div class="section-title-container">
      <h2 class="title-text">Riviews</h2>
    </div>
    <ul class="rev-cards">
      <div class="tree-firs">
        <li class="rev-card">
          <div class="rev-content">
            <div class="rev-title-container section-title-container">
              <h2 class="rev-title-text title-text">Alexander Winter</h2>
            </div>
            <p class="rev-text">
              An epic saga of strategy and emotion. I’ve never cared this much
              about my army!
            </p>
          </div>
          <ul class="rev-stars">
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_half"></use>
              </svg>
            </li>
            <li class="rev-star">
              <span class="rev-reting">5.0</span>
            </li>
          </ul>
        </li>
        <li class="rev-card">
          <div class="rev-content">
            <div class="rev-title-container section-title-container">
              <h2 class="rev-title-text title-text">Mira Howard</h2>
            </div>
            <p class="rev-text">
              The decisions actually matter! Every campaign feels different
            </p>
          </div>
          <ul class="rev-stars">
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_half"></use>
              </svg>
            </li>
            <li class="rev-star">
              <span class="rev-reting">4.5</span>
            </li>
          </ul>
        </li>
        <li class="rev-card">
          <div class="rev-content">
            <div class="rev-title-container section-title-container">
              <h2 class="rev-title-text title-text">Dante Kurphy</h2>
            </div>
            <p class="rev-text">
              The mix of tactical gameplay and deep lore is masterful. Highly
              addictive
            </p>
          </div>
          <ul class="rev-stars">
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_half"></use>
              </svg>
            </li>
            <li class="rev-star">
              <span class="rev-reting">5.0</span>
            </li>
          </ul>
        </li>
      </div>
      <div class="two-last">
        <li class="rev-card">
          <div class="rev-content">
            <div class="rev-title-container section-title-container">
              <h2 class="rev-title-text title-text">Selina Russel</h2>
            </div>
            <p class="rev-text">
              Heroes have actual personality — I grew attached to every general
              in my roster
            </p>
          </div>
          <ul class="rev-stars">
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_half"></use>
              </svg>
            </li>
            <li class="rev-star">
              <span class="rev-reting">5.0</span>
            </li>
          </ul>
        </li>
        <li class="rev-card">
          <div class="rev-content">
            <div class="rev-title-container section-title-container">
              <h2 class="rev-title-text title-text">Zhao Ling</h2>
            </div>
            <p class="rev-text">
              Best war strategy RPG on mobile. The visuals are on another level
            </p>
          </div>
          <ul class="rev-stars">
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_rate"></use>
              </svg>
            </li>
            <li class="rev-star">
              <svg class="rev-star-img" width="20" height="20">
                <use href="./img/sprite.svg#icon-star_half"></use>
              </svg>
            </li>
            <li class="rev-star">
              <span class="rev-reting">5.0</span>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </div>
</section>
