<section id="reviews">
  <div class="container">
    <div class="section-title-container">
      <h2 class="title-text">Riviews</h2>
    </div>
    <ul class="rev-cards">
      <li class="rev-card">
        <div class="rev-title-container">
          <h2 class="rev-title-text">Riviews</h2>
        </div>
        <p class="rev-text"></p>
        <ul class="rev-stars">
          <li class="rev-star">
            <svg class="rev-star-img" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_half"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="rev-card">
        <div class="rev-title-container">
          <h2 class="rev-title-text">Riviews</h2>
        </div>
        <p class="rev-text"></p>
        <ul class="rev-stars">
          <li class="rev-star">
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_half"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="rev-card">
        <div class="rev-title-container">
          <h2 class="rev-title-text">Riviews</h2>
        </div>
        <p class="rev-text"></p>
        <ul class="rev-stars">
          <li class="rev-star">
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_half"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="rev-card">
        <div class="rev-title-container">
          <h2 class="rev-title-text">Riviews</h2>
        </div>
        <p class="rev-text"></p>
        <ul class="rev-stars">
          <li class="rev-star">
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_half"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="rev-card">
        <div class="rev-title-container">
          <h2 class="rev-title-text">Riviews</h2>
        </div>
        <p class="rev-text"></p>
        <ul class="rev-stars">
          <li class="rev-star">
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_rate"></use>
            </svg>
            <svg class="" width="20" height="20">
              <use href="./img/sprite.svg#icon-star_half"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
