.back-link {
  position: relative;
  display: inline-block;
  color: #feffe8;
  margin-top: 40px;
  margin-bottom: 24px;
  margin-left: 32px;
}
.back-link::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -32px;
  width: 16px;
  height: 12px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/arrow_left_alt.png');
}

@media only screen and (min-width: 1200px) {
  .back-link {
    margin-bottom: 60px;
  }
}
