:root {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: linear-gradient(
    to right,
    #093e64 0%,
    #043558 30%,
    #043558 70%,
    #003053 100%
  );
  color: #feffe8;
}
section {
  padding: 32px 0;
  color: #feffe8;
}
h2 {
  text-align: center;
  text-shadow: 0px 4px 36px rgba(255, 255, 255, 0.5);
  font-family: 'Delius Unicase', cursive;
  font-weight: 700;
  text-transform: uppercase;
}
button {
  border: none;
}

@media only screen and (min-width: 1200px) {
  section {
    padding: 60px 0;
  }
}

/* title border */
.section-title-container {
  position: relative;
  background-image: url('../img/titel_frame_mobile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 288px;
  height: 86px;
  margin: 0 auto 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media only screen and (min-width: 1200px) {
  .section-title-container {
    width: 520px;
    height: 102px;
    background-image: url('../img/titel_frame_descktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 60px;
  }
}
