footer {
  background-color: #000f1a;
  color: #feffe8;
  text-align: center;
  font-weight: 500;
  padding: 24px 0;
}
.footer__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.footer__btn {
  cursor: pointer;
}
.footer-rights {
  font-size: 12px;
  font-weight: 100;
}
@media only screen and (min-width: 1200px) {
  footer {
    padding: 40px 0;
  }
  .footer__buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .footer-sticks {
    width: 2px;
    height: 19px;
    background-color: #feffe8;
  }
}
