[data-header-scroll][data-scrolled='false'] {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  z-index: 999;
  background-color: transparent;
  transition: background-color 300ms ease, backdrop-filter 300ms ease;
  margin: 10px 0px;
}

[data-header-scroll][data-scrolled='true'] {
  position: fixed;
  background-color: rgba(175, 175, 175, 0.2);
  width: 320px;
  margin: 10px 0px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.header-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.burger-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 4px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  [data-header-scroll][data-scrolled='false'],
  [data-header-scroll][data-scrolled='true'] {
    margin: 12px 0px;
    width: 1200px;
  }
  .burger-menu-button {
    display: none;
  }
}

.header-nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-nav {
    height: 76px;
    display: flex;
    overflow: hidden;
  }
}

.nav-list {
  display: flex;
  gap: 24px;
  margin: auto 0;
}
.header-nav-link {
  font-weight: 400;
  font-size: 20px;
  color: #feffe8;
}
.header-nav-link:hover,
.header-nav-link:focus {
  text-decoration: underline;
}
.header-nav-link.active,
.header-nav-link:active {
  color: #92fef8;
}
