.how_play {
  background: url('./img/how_play/mobile_bgr_1x.jpg') no-repeat center top;
  background-size: auto;
  width: 100%;
}

@media only screen and (min-resolution: 192dpi),
  only screen and (min-device-pixel-ratio: 2) {
  .how_play {
    background: url('./img/how_play/mobile_bgr_2x.jpg') no-repeat center top;
    background-size: auto 100%;
  }
}

@media screen and (min-width: 1200px) {
  .how_play {
    background: url('./img/how_play/desctop_bgr_play_1x.jpg') no-repeat center
      top;
    background-size: auto 100%;
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (min-device-pixel-ratio: 2) {
    .how_play {
      background: url('./img/how_play/desctop_bgr_play_2x.jpg') no-repeat center
        top;
      background-size: auto 100%;
    }
  }
}

.play-title {
  position: relative;
  background-image: url('./img/titel_frame_mobile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 288px;
  height: 86px;
  margin: 0 auto 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.play-title-text {
  display: block;
  font-size: 26px;
  text-align: center;
  color: #feffe8;
}
.play-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.play-list-item {
  border: 1px solid #feffe8;
  border-radius: 8px;
  padding: 15px 7px;
  width: 270px;

  background: rgba(0, 32, 57, 0.8);
  color: #feffe8;
}
.play-number {
  display: flex;
  border: 1px solid #feffe8;
  border-radius: 8px;
  padding: 5px 7px;
  height: 28px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}
.play-item-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.play-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.play-subtitel {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}
.play-desc {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .play-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 46px;
  }
  .play-list-item {
    position: relative;
    width: calc(50% - 46px);
  }
  .play-item-container {
    gap: 16px;
    margin: 0;
  }
  .play-number {
    position: absolute;
    top: 26px;
    left: 8px;
    font-weight: 500;
    padding: 0;
    width: 35px;
    height: 79px;
    font-size: 24px;
  }
  .play-icon {
    position: absolute;
    top: 26px;
    left: 60px;
    width: 80px;
    height: 80px;
  }
  .play-subtitel {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-left: 156px;
    margin-bottom: 8px;
  }
  .play-desc {
    font-size: 20px;
    color: #feffe8;
    margin-left: 156px;
  }
}
