.rules-body {
  background: linear-gradient(
    to right,
    #002844 0%,
    #023458 30%,
    #002c4b 70%,
    #001626 100%
  );
}
.ruls_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: none;
  /* margin-bottom: 24px; */
  text-shadow: none;
  text-align: left;
}
.ruls_date {
  font-weight: 500;
  font-size: 24px;
  /* margin-bottom: 24px; */
}
.rules-wrrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.rules-ol {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.rules-ul li {
  position: relative;
  margin-bottom: 0.5em;
}

.rules-ul li::before {
  content: '';
  position: absolute;
  left: -13px;
  top: 12px;
  width: 4px;
  height: 4px;
  background-color: #feffe8;
  border-radius: 50%;
}
.rules-ul {
  padding-left: 10px;
}
.rules-ol li h3 {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 24px;
}
.rules-ol li p {
  margin-bottom: 4px;
}
.rules-ol {
  list-style: decimal;
}

.rules-ol li::marker {
  font-size: 24px;
  font-weight: 500;
}
.rules-ol li a {
  text-decoration: underline;
}
.rules-link {
  font-size: 16px;
  display: block;
}
@media only screen and (min-width: 1200px) {
  .rules-wrrap {
    padding-bottom: 76px;
  }
  .rules-link {
    font-size: 20px;
    display: block;
  }
}
.rules-ol li {
  font-size: 20px;
}
.rules-ul li span {
  font-weight: 500;
}
